
<div>
  {{#each rows}}

    {{#if this.artwork}}
      <img src= "{{this.artwork}}" alt="art">
    {{else}}
      <img src="/upload/default.jpg" alt="art">
    {{/if}}
    
    <h1>{{this.title}}</h1>

    <p>{{this.description}}</p>

    <button type="button" class="btn btn-primary">View Artist Gallery</button>
  {{/each}}

</div>

