  <div id="header">
    <h1>Brian Jenkins</h1>
    <div id="nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Artists Information</a></li>
        <li><a href="">Member Sign In</a></li>
      </ul>
  </div>
</div>
<div id="content">
  <div id="feature">
    </div>  
  <div class="article column1">
    <img src="images/Oct32007.jpg" alt="...">
    <h5 class="card-title">Red Barn</h5>
        <p class="body">acrylic on paper, 16" x 30", $250</p>

    <p>Artwork number one goes here</p>
  </div>
  <div class="article column2">
    <img src="images/Oct32007.jpg" alt="...">
    <h5 class="card-title">Red Barn</h5>
        <p class="card-text">acrylic on paper, 16" x 30", $250</p>

    <p>Artwork number two goes here</p>
  </div>
    <img src="images/Oct32007.jpg" alt="...">
    <h5 class="card-title">Red Barn</h5>
        <p class="card-text">acrylic on paper, 16" x 30", $250</p>

    <p>Artwork number two goes here</p>
  </div>
</div>
