
<div class="container pt-5 pb-5">

    <form action="/" method="POST" encType="multipart/form-data">
      <h3>Upload Artwork</h3>

      <input type="file" name="sampleFile" accept="image/*" />

      <input type="submit" class="btn btn-primary"></br>
  </br>

    <div class="form-floating mb-3">
      </br>
      <label for="title">Blog Title</label></br>
      </br>
    <input type="text" class="form-control" id="title">
      </div></br>
      </br>
    <div class="form-floating">
      <label for="description">Blog</label></br>
      </br>
      <input type="text" class="form-control" id="description">
    </div>
  
    </form>

</div>



