<div class="blog-card">
  <div class="blog-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>


<div class="edit-blog-container">
  <h2>
    Update Blog
  </h2>
  <form class="edit-blog-form">
    <label for="title">
      Title:
    </label>
    <br />
    <textarea id="title" name="title" rows="2" cols="30">
      {{title}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <br />
    
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-blog.js"></script>