<div class="card" style="width: 18rem;">
  <img src="images/Oct32007.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Red Barn</h5>
    <p class="card-text">acrylic on paper, 16" x 30", $250</p>
    <a href="#" class="btn btn-primary">Artist Bio</a>
  </div>

<div class="card" style="width: 18rem;">
  <img src="images/Oct32007.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Red Barn</h5>
    <p class="card-text">acrylic on paper, 16" x 30", $250</p>
    <a href="#" class="btn btn-primary">Artist Bio</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="images/Oct32007.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Red Barn</h5>
    <p class="card-text">acrylic on paper, 16" x 30", $250</p>
    <a href="#" class="btn btn-primary">Artist Bio</a>
  </div>
</div>