<div> 
  <form class="row g-3 needs-validation" method="POST" action="/addblog">
      <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="blog title" title="title">
        <label for="floatingInput">Blog Title</label>
  </div>
      <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="blog copy" description="description">
          <label for="floatingInput">Blog Body</label>
        </div>
      </div>

      <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
  
</div>


